.benefits-bg, .cases-bg, .popup-bg, .subscribe-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  > div {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
  }

  &__1 {
    background-size: 44.9375rem;
    background-position: 0 -30%;
  }
  &__2 {
    background-size: 29.375rem;
    background-position: 100% 30%;
  }
  &__3 {
    background-size: 13.75rem;
    background-position: 100% 105%;
  }

  .popup-bg__1{
    background-size: 44.9375rem;
    background-position: 0 90%;
  }

  .popup-bg__2{
    background-size: 29.375rem;
    background-position: 100% 50%;
  }
  .subscribe-bg__1{
    background-position: 0 92%;
  }
  .subscribe-bg__2{
    background-position: 100% 70%;
  }
}

.subscribe-bg{
  bottom: -10rem;
}

.benefits-bg-stars, 
.services-stars, 
.cases-stars, 
.popup-bg-stars,
.about-stars,
.subscribe-stars {
  mix-blend-mode: color-dodge;
  z-index: 1;
  > img {
    position: absolute;
  }
}
.benefits-bg-stars__1 {
  right: 0;
  top: -10%;
  width: 18.125rem;
  height: 21.9375rem;
}
.benefits-bg-stars__2 {
  width: 29.5625rem;
  height: 30.25rem;
  left: 0;
  top: 0;
}
.benefits-bg-stars__3 {
  width: 28.0625rem;
  height: 21.9375rem;
  right: 0;
  top: 27%;
}
.benefits-bg-stars__4 {
  width: 27rem;
  height: 21.9375rem;
  left: 0;
  top: 63%;
}
.benefits-bg-stars__5 {
  width: 20.5625rem;
  height: 21.9375rem;
  right: 0;
  top: 90%;
}

// services-stars

.services-stars__1{
  width: 36.75rem;
  height: 42.5625rem;
  left: 0;
  top: 12%;
}


// cases
.cases-stars__1{
  width: 83.125rem;
  height: 51.5625rem;
  left: 6%;
  top: 11%;
}
.cases-bg__1{
  background-size: 44.9375rem;
  background-position: 0 0;
  top: -27rem !important;
}

.cases-bg__2{
  background-size: 29.375rem;
  background-position: 100% 30%;
}

.popup-bg-stars__1{
  width: 22.125rem; 
  height: 22.25rem;
  right: 0;
  top: 0;
}

// about-stars

.about-stars__1{
  width: 59.875rem;
  height: 45.1875rem;
  top: 17%;
  left: 33%;
}


// subs

.subscribe-stars__1{
  top: -3%;
  left: 0;
  width: 22.75rem;
  height: 48.625rem;
}
.subscribe-stars__2{
  right: 0;
  top: 34%;
  width: 22.625rem;
  height: 48.5625rem;
}