
@keyframes loader {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

@keyframes arrow {
  0% {
    bottom: 3rem;
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    bottom: 2.5rem;
  }
}