@media screen and (max-width: 1140px) {
  .main-text h1 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .only-mobile {
    display: none !important;
  }
  .main-image {
    position: absolute;
  }
  .main-image img {
    width: 53vw;
  }
}
@media screen and (max-width: 991px) {
  .main-image img {
    /* max-width: 100%; */
    max-height: 100vh;
    height: 100vh;
  }
  .only-pk {
    display: none !important;
  }

  .main-text h1 {
    font-size: 2rem;
  }

  .container-xl {
    max-width: 100%;
  }
  .main {
    flex-wrap: wrap;
  }

  .main-text,
  .main-image {
    flex: 0 0 100%;
    right: -20px;
  }

  .main-image {
    right: 0;
    margin-left: -20px;
    margin-right: -20px;
    flex: auto;
  }
  .main-image img {
    height: auto;
    max-width: 100%;
  }
  body::after,
  body::before,
  .bg-picture {
    display: none;
  }
  .header{
    position: initial;
    margin-bottom: 35px;
  }

  .main-arrow{
    display: none;
  }

  .logo__mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .logo__mobile span{
    font-weight: 900;
    font-size: 16px;
    line-height: 165%;
    display: flex;
    align-items: center;
    letter-spacing: 0.24em;
    text-transform: uppercase;
  }

  .form-group-grid{
    gap: 40px;
  }

  .main-image{
    margin-top: -100px;
  }

  .main{
    align-items: flex-start;
    display: block;
    min-height: auto;
  }
  .main-text-mob{
    text-align: center;
  }

  .subscribe{
    margin-top: 105px;
    margin-bottom: 100px;
  }
  
}

@media screen and (max-width: 560px) {
  .icon-arrow-right{
    margin-left: 5px;
    width: 20px;
  }
  .btn{
    font-size: 1rem;
    padding: 0 16px;
  }
  .main-text p{
    font-size: 9px;
  }
  .divider-under-text{
    width: 30px;
  }
  .main-image img {
    width: 100%;
  }
  .main-image{
    margin-top: -150px;
  }

  .main-text h1 {
    font-size: 1.25rem;
  }
  .subscribe h2{
    margin: 25px 0;
  }
  .form-group h3{
    font-size: 1.125rem;
  }

  .form-group-grid{
    grid-template-columns: 1fr;
    gap: 25px;
  }

  .form-group h3{
    margin: 40px 0 30px;
  }

  .form-group textarea, input[type=text], input[type=tel], input[type=email]{
    font-size: 14px;
  }

  .ui-checkbox-text{
    font-size: 16px;
  }

  .footer p{
    font-size: 14px;
  }

  .header__top{
    padding: 10px 0;
  }

  .main-text p{
    margin: 1rem 0 2.5rem 0;
  }

  .header{
    margin-bottom: 55px;
  }

  .main-arrow-mobile{
    display: block;
    position: relative;
    text-align: center;
    padding-top: 1rem;
  }
}
@media screen and (max-width: 480px) {
 
}
