$font: 'Montserrat', sans-serif;
$font-size: 16px;

$radius: 0.3125rem;
$btn-bg-color-RGB: rgb(17, 46, 81); /* 0.77 opacity*/
$inputs-bg: #0c2646;
$inputs-bg-focus: #163c6b;
$inputs-bg-RGB: 12, 38, 70;

$bg-popup: #0B2343;

$accent: #1cdbd3;
$accent-RGB: 28, 219, 211;
$light: #97acc8;
$white: #ffffff;


$container-gap: 1.25rem;

$container-width-md: 60rem;
$container-padding: 0 $container-gap;

$divider-color-30: rgba($white, 0.3);
$divider-color-100: $white;
$base: 1440px;


// func

@function vw($px-vw, $base-vw: $base){  
  @return ($px-vw * 100vw) / $base-vw;
}